* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1080px;
    max-width: 1200px;
}

header {
    top: 0;
    position: sticky;
    height: 12vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

#heading .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -10px;
}

.bar {
    display: none;
}

.container .info_header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}

.container .info_header img {
    margin-right: 5rem;
    cursor: pointer;
}

#navbar .list_items {
    display: flex;
} 

#navbar .list_items li {
    margin-right: 2rem;
}

#navbar .list_items li a {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey ;
    transition: .3s ease;
}

#navbar .list_items li a:hover {
    border-bottom: 2px solid black;
    color: orange;
}

.container .cart {
    display: flex;
    text-align: center;
    align-items: center;
}

.container .cart i {
    margin-right: 2rem;
    cursor: pointer;
}

.container .cart img {
    height: 40px;
    cursor: pointer;
}

/* Hero section */

#hero {
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    display: flex;
    justify-content: space-between;
    text-align: flex-start;
}

#hero .container .left_box {
    margin-right: 4rem;
    margin-left: 4rem;
    width: 100%;
}

#hero .container .left_box .big_image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

#hero .container .left_box img {
    width: 100%;
}

#hero .container .left_box .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#hero .container .left_box .box .small_boxes {
    flex-basis: 22%;
    cursor: pointer;
}

#hero .container .left_box .box .small_boxes img {
    border-radius: 10px;
}

 #hero .container .right_box {
    width: 100%;
    padding:  0 4rem 0 4rem;
}

#hero .container .right_box h5 {
    color: hsl(26, 100%, 55%);
    padding-top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero .container .right_box h1 {
    color: black;
    margin-top: 1rem;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 900;
} 

 #hero .container .right_box .para{
    margin-top: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    line-height: 1.5;
} 

#hero .container .right_box .price h4 {
    margin-top: 1rem;
    font-size: 25px;
    font-family: verdana;
    
}

#hero .container .right_box .price p {
    color: grey;
    margin-top: .3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#hero .container .right_box .basket {
    display: flex;
}

#hero .container .right_box .symbol {
    background-color:hsl(0, 0%, 100%);
    border: 1px solid lightslategray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero .container .right_box .symbol .minus {
    width: 15%;
    height: auto;
    margin-right: 1rem;
    cursor: pointer;
}

#hero .container .right_box .symbol .plus {
    width: 18%;
    height: 24%;
    margin-left: 1rem;
    cursor: pointer;
}

#hero .container .right_box .add_to_cart {
    margin-left: 2rem;
    background-color: yellow;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: hsl(26, 100%, 55%);
    color: white;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s ease;
}

#hero .container .right_box .add_to_cart:hover {
    background-color: black;
}

#hero .container .right_box .add_to_cart span {
    margin-left: .5rem;
    font-family: sans-serif;
}


/* Media queries */

@media (max-width:480px) {

    .container {
        padding: 0 1rem;
    }

    #hero {
        padding: 0rem 0rem;
    }

    #navbar {
        display: none;
    }
    
    .bar {
        margin-top: .4rem;
    }

    .bar .bar_bar{
        font-size: 22px;
    }

    .container .info_header img {
        margin-left: .8rem;
        height: 19px;
    }

    #heading .container {
       height: 11vh;
    }

    .icon i {
        font-size: 20px;
        /* margin-top: .5rem; */
    }

    #hero .container {
        padding: 0 21rem;
        flex-direction: column;
    }

    #hero .container .left_box {
        margin-right:0;
        margin-left: 0;
        width: 400px;
        padding: 2rem;

    }

    #hero .container .right_box {
        padding: 0 2rem;
    }

    #hero .container .right_box h5 {
        padding-top: 0rem;
        text-transform: uppercase;
        font-size: 16px;
    }

    #hero .container .right_box .para {
        margin-top: 1rem;
    }

    #hero .container .right_box .price {
        height: 8vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    #hero .container .right_box .price h4 {
        font-size: 32px;
        font-family: sans-serif;
    }

    #hero .container .right_box .price p {
        margin-top: 2.5rem;
        font-size: 26px;
    }

    .container .cart {
        justify-content: space-between;
    }

    #hero .container .right_box .symbol {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 8vh;
        margin-bottom: 1.5rem;
    }

    #hero .container .right_box .symbol .minus {
        width: 10%;
        padding: .5rem;
    }

     #hero .container .right_box .symbol .plus {
        width: 10%;
        height: 50%;
        padding: .5rem;
    }

    #hero .container .right_box .symbol span {
        font-size: 25px;
    }

    #hero .container .right_box .add_to_cart {
        margin-left: 0rem;
        width: 100%;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
    } 

    #hero .container .right_box .add_to_cart span {
        margin-left: 1rem;
    }

}