* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1080px;
    max-width: 1200px;
}

header {
    top: 0;
    position: sticky;
    height: 12vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

#heading .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -10px;
}

.container .info_header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}

.container .info_header img {
    margin-right: 5rem;
    cursor: pointer;
}

#navbar .list_items {
    display: flex;
} 

#navbar .list_items li {
    margin-right: 2rem;
}

#navbar .list_items li a {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey ;
    transition: .3s ease;
}

#navbar .list_items li a:hover {
    border-bottom: 2px solid black;
    color: orange;
}

.container .cart {
    display: flex;
    text-align: center;
    align-items: center;
}

.container .cart i {
    margin-right: 2rem;
    cursor: pointer;
}

.container .cart img {
    height: 40px;
    cursor: pointer;
}

/* Hero section */

#hero {
    padding: 5.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    display: flex;
    justify-content: space-between;
    text-align: flex-start;
}

#hero .container .left_box {
    margin-right: 8rem;
}

#hero .container .left_box .big_image {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

#hero .container .left_box img {
    width: 100%;
}

#hero .container .left_box .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#hero .container .left_box .box .small_boxes {
    flex-basis: 22%;
    cursor: pointer;
}

#hero .container .left_box .box .small_boxes img {
    border-radius: 10px;
}

